.container {
	padding: 0 2rem;
}

.wrapper {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
  gap: 10px;
}

.list {
	border: 3px solid blue;
	width: fit-content;
	
  color: blue;
  font-weight: 600;
  padding: 15px;
}
